.column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}

.table-view{
    -fx-background-color: white;
    -fx-border-color: white;
}

.table-row-cell{
    -fx-border-color: white;
    -fx-table-cell-border-color:white;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-border-width: 0.0em;
    -fx-padding: 0;
    -fx-text-inner-color: black; 
}

.table-row-cell .text {
       -fx-fill: black;
}

.table-row-cell:selected{
    -fx-background-color: #ededed;
    -fx-border-color: #ededed;
    -fx-table-cell-border-color: #ededed;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0; 
}

.table-row-cell:odd{
    -fx-text-fill: black;
    -fx-background-color: #fafafa;
    -fx-border-color: #fafafa;
    -fx-table-cell-border-color: #fafafa;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-border-width: 0.0em;
    -fx-padding: 0; 
}

.table-row-cell:odd:selected{
    -fx-background-color: #ededed;
    -fx-border-color: #ededed;
    -fx-table-cell-border-color:#ededed;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-border-width: 0.0em;
    -fx-padding: 0; 
}