.tree-cell .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-padding: 0.6em, 0em, 0em, 0em;
    -fx-background-repeat: no-repeat;
    -fx-background-color: null;
    -fx-background-size: 15;
    -fx-background-image: url("/studyproject/resources/lodds_icon/folder-closed.png");
}
.tree-cell:expanded .tree-disclosure-node .arrow {
    -fx-background-image: url("/studyproject/resources/lodds_icon/folder-open.png");
}

.tree-cell {
    -fx-padding: 0em, 0em, 0em, 0em;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow,
.tree-table-row-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-rotate: 0;
}

